* {
    background-color:aqua;
}

ul {
    list-style: none; 
}



.card-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.card-list__card {
    list-style: none;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    position: relative;
    width: min-content;
    padding: 1rem;
}

.card-list__card h2{
    margin: 0.5rem auto 2rem auto;
}

.card-list img, .details img{
    border-radius: 10px;
}



.details{
    position: relative;
    width: min-content;
}

.fav-icon {
    width: 3rem;
    position: absolute;
    top: 7%;
    right: 7%;
    background: transparent;
    cursor: pointer;
}
.update{
    top: 7%;
    right: 28%;
}

.details .fav-icon{
    top: 27%
}

.details .update{
    top: 27%
}


.logo{
    grid-area: a;
    align-self: center;
    justify-self: center;
    width: 23rem;
    
}
.navItems {

display: flex;
justify-content: space-around;
}

.navItems img{
    width: 2rem
}

.loginTitle {
    background-color: red;
    font-size: 1rem;
    display: grid;
    justify-content: center;
}

.loginbut {
    display: grid;
    justify-content: center;
}

.main{
   
    display: grid;
    justify-content: center;

}
.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 200px;
    grid-template-areas:
      ". a a ."
      ". a a .";
  }
  .backphoto {
    grid-area: a;
    align-self: center;
    justify-self: center;
    width: 23rem;
  }

  .hidden{
    display: none ;
}

  #modal{
    position: fixed;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: rgba(32, 35, 41, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
  }
  
  .in-line-buttons{
    display: flex;
    gap: 2rem;
  }

  #modal h2{
      color: black;
  }

  #modal input{
      margin: 2rem auto 2rem auto;
  }

  #modal button{
      padding: 0.8rem 1rem;
  }
  
  #modal p{
    margin-bottom: 3rem;
    width: 25rem;
    background-color: black;
    border-radius: 0.8rem;
    padding: 1rem 2rem;
    box-shadow: 2px 2px 6px #00000060;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 1.1rem;
    white-space: pre-line;
    color: black;
  }