ul {
    list-style: none; 
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.card-list__card {
    list-style: none;
}

.fav-icon {
    width: 2rem;
}

.logo{
    width: 100px;
    height: 50px;
}
